<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.mystore.testcases.EndToEndTest"/>
      <class name="MyStoreProject.MyStoreProject.AppTest"/>
      <class name="com.mystore.testcases.IndexPageTest"/>
      <class name="com.mystore.testcases.SearchResultPageTest"/>
      <class name="com.mystore.testcases.OrderPageTest"/>
      <class name="com.mystore.testcases.AddToCartPageTest"/>
      <class name="com.mystore.testcases.LoginPage"/>
      <class name="com.mystore.testcases.AccoutCreaionPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
